.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    padding-top: 200px;
    padding-bottom: 100px;
    @include media-query-mobile{
      display: flex;
      flex-direction: column;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 150px;
      padding-bottom: 100px;
    }
    h2{
        margin-bottom: 15px;
        font-size: 40px;
        font-weight: 600;
        @include media-query-mobile{
          font-size: 30px;
          font-weight: 600;
        }
    }
    p{
        font-size: 17px;
        line-height: 1.6;
        margin-bottom: 30px;
    }
    a{
        font-size: 17px;
        display: inline-block;
        text-decoration: none;
        width: 100%;
        margin-bottom: 15px;
        color: black;
        font-weight: 400;
        @include media-query-mobile{
          font-size: 16px;
        }
        i{
            color: #1b1b1b;
            margin-right: 15px;
        }
    }
    form .campo,
    textarea {
      width: 100%;
      padding: 15px 10px;
      font-size: 15px;
      border: 1px solid black;
      margin-bottom: 20px;
      border-radius: 3px;
      outline: 0px;
      @include media-query-mobile{
        width: 100%;
        font-size: 14px;
        margin-bottom: 15px;
      }
    }
  
    form textarea {
      max-width: 530px;
      min-width: 530px;
      min-height: 140px;
      max-height: 150px;
      @include media-query-mobile{
        max-width: 100%;
        min-width: 350;
        max-height: 160px;
      }
    }
    .btn-enviar{
      padding: 15px;
      font-size: 16px;
      border: none;
      outline: 0px;
      background: #1b1b1b;
      color: white;
      border-radius: 8px;
      transition: all 300ms ease;
      @include media-query-mobile{
        font-size: 15px;
      }
      &:hover{
        background: #434343;
      }
    }
    iframe{
      margin-top: 20px;
      border: 1px solid black;
      border-radius: 3px;
      @include media-query-mobile{
        margin-top: 20px;
        border: 1px solid black;
        border-radius: 3px;
        max-width: 100%;
        margin: 0 auto;
      }
    }
}