.diseno{
    padding-bottom: 100px;
    padding-top: 200px;
    @include media-query-mobile{
        padding-bottom: 100px;
        padding-top: 150px;
    }
}


.cajaContenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    @include media-query-mobile{
        width: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 150px;
        box-sizing: border-box;
    }
    .caja-hijo1{
        width: 400px;
        height: 300px;
        @include media-query-mobile{
            width: 90%;
            height: 90%;
            text-align: center;
        }
        img{
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
        }
    }
}

.cajaContenedor2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    @include media-query-mobile{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        padding-bottom: 100px;
    }
    .caja-hijo2{
        width: 400px;
        height: 300px;
        @include media-query-mobile{
            width: 90%;
            height: 90%;
            text-align: center;
        }
        img{
            width: 100%;
            height: 100%;
            justify-content: center; 
        }
    }
}