.about{
    width: 100%;
    padding-top: 200px;
    padding-bottom: 100px;
    img{
        height: auto;
        width: 420px;
    }
    .about-text{
        width: 550px;
        h1{
            color: black;
            font-size: 40px;
            font-weight: 600;
            margin-bottom: 15px;
        }
        h5{
            color: #1b1b1b;
            font-size: 25px;
            margin-bottom: 25px;
            letter-spacing: 2px;
        }
        p{
            font-size: 17px;
            letter-spacing: 1px;
            margin-bottom: 30px;
        }
    }
    span{
        color: #626262;
    }
    button{
        padding: 15px;
        font-size: 16px;
        border: none;
        outline: 0px;
        background: #1b1b1b;
        color: white;
        border-radius: 8px;
        transition: all 300ms ease;
        :hover{
            background: #434343;
        }
    }
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}